<section id="converter">
  <div class="currency-input">
    <input
      type="number"
      id="first-currency-amount"
      placeholder="Amount"
      [(ngModel)]="firstCurrencyAmount"
      (input)="onFirstCurrencyAmountChange(firstCurrencyAmount.toString())"
    />
    <select
      id="first-currency-type"
      [(ngModel)]="firstCurrencyType"
      (change)="onCurrencyTypeChange()"
    >
      <option value="UAH">UAH</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select>
  </div>
  <div class="currency-input">
    <input
      type="number"
      id="second-currency-amount"
      placeholder="Amount"
      [(ngModel)]="secondCurrencyAmount"
      (input)="onSecondCurrencyAmountChange(secondCurrencyAmount.toString())"
    />
    <select
      id="second-currency-type"
      [(ngModel)]="secondCurrencyType"
      (change)="onCurrencyTypeChange()"
    >
      <option value="UAH">UAH</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select>
  </div>
</section>
