<section id="converter">
  <div class="currency-input">
    <input type="number" id="first-currency-amount" placeholder="Amount" />
    <select id="first-currency-type">
      <option value="UAH">UAH</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select>
  </div>
  <div class="currency-input">
    <input type="number" id="second-currency-amount" placeholder="Amount" />
    <select id="second-currency-type">
      <option value="UAH">UAH</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select>
  </div>
</section>
